.weatherSearch button {
    display: flex;
    /* Align the child elements to the right side of the parent */
    justify-content: flex-end;
    background-color: #147294;
    position: relative;
  }

h1 {
    text-align: center;
    background-color: aqua;
  }

.jumbotron h2 {
    text-align: left;
    font-weight: bold;
}

